<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDutxTknZokO0RvpWnaKMGmzOBNbmdpt8M</string>
	<key>GCM_SENDER_ID</key>
	<string>112952900756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tamerahmad.uxuiloginflutter</string>
	<key>PROJECT_ID</key>
	<string>utm-parcel-point</string>
	<key>STORAGE_BUCKET</key>
	<string>utm-parcel-point.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112952900756:ios:46559fee5bf67350910881</string>
	<key>DATABASE_URL</key>
	<string>https://utm-parcel-point-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>